<div class = "main-header">
  <div class="active-room-name">hogehoge</div>
  <div class="delete-room-btn"><a href="#">チャットを終了する</a></div>
</div>
<div class = "main-chat-space">
  <div class="posted-chat">
    <div class="posted-chat-info">
      <div class="name-who-posted">Tom</div>
      <div class="posted-time">2020/3/31(Wed) 12:35:20</div>
    </div>
    <div class="posted-text">おはよう</div>    
  </div>
  <div class="posted-chat">
    <div class="posted-chat-info">
      <div class="name-who-posted">Tom</div>
      <div class="posted-time">2020/3/31(Wed) 12:41:30</div>
    </div>
    <div class="posted-text">おはようございます</div>
  </div>
</div>
<div class = "main-form">
  <div class="post-form">
    <input class="post-text-form" placeholder= "type a message">
    <label class="post-image-form">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="post-submit-btn" type="submit" value="送信">
</div>

